<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="auth.user$ | async; then autenticado else noautenticado">

</div>
<ng-template #autenticado>
  <app-lista-animales></app-lista-animales>
  <br>
  <div class="example-button-row">
    <button mat-raised-button color="warn" (click)="loginOut()">LogOut</button>
  </div>
</ng-template>
<ng-template #noautenticado>
  <app-login></app-login>
</ng-template>
<!-- <app-lista-animales></app-lista-animales> -->
<router-outlet></router-outlet>
